---
- name: "Install Chrony"
  ansible.builtin.package:
    name: chrony
    state: present
  become: true
  register: pkg_result
  retries: 12
  delay: 10
  until: pkg_result is success

- name: "Configuring Chrony"
  ansible.builtin.template:
    src: chrony.conf.j2
    dest: "{{ chrony_config }}"
    owner: root
    group: root
    mode: '0644'
  become: true
  notify:
    - "Restart chrony"
