{{ ansible_managed | comment }}

{% if chrony_allow_hosts is defined and chrony_allow_hosts | length > 0 %}
{% for item in chrony_allow_hosts %}
allow {{ item }}
{% endfor %}
{% endif %}

driftfile /var/lib/chrony/chrony.drift
dumpdir {{ chrony_dumpdir }}
dumponexit
keyfile /etc/chrony/chrony.keys

{% if chrony_local_stratum is defined and chrony_local_stratum > 0 %}
local stratum {{ chrony_local_stratum }}
{% else %}
stratumweight 0
{% endif %}

# Disable logging of client accesses.
noclientlog

log {{ chrony_log|join(' ') }}
# Send a message to syslog if a clock adjustment is larger than 0.5 seconds.
logchange 0.5
logdir {{ chrony_logdir }}

makestep 1 -1

{% if chrony_rtcsync_enabled | bool %}
# Enable kernel RTC synchronization.
rtcsync
{% endif %}

{% for item in chrony_ntp_servers %}
{%   if item['options'] is not defined %}
{{ item['type'] | default('server') }} {{ item['server'] }}
{%   elif item['options'] is defined %}
{{ item['type'] | default('server') }} {{ item['server'] }}{% for opt in item['options'] %} {{ opt['option'] }}{% if opt['val'] is defined %} {{ opt['val'] }}{% endif %}{% endfor %}

{%   endif %}
{% endfor %}
